.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  column-gap: 140px;
  padding: 0;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  box-sizing: border-box;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: 60px 0 43px;
  padding-left: 40px;
  padding-right: 40px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  text-align: center;
  margin: 0 0 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18;
  text-align: center;
  margin: 0;
}
