.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.digits__title {
  margin: 0 auto 20px;
}

.digits__subtitle {
  margin: 0 auto;
}

.digits__table {
  margin: 60px auto 0;
  row-gap: 60px;
}
