.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto -220px;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
}

.khan__title {
  margin: 0 0 50px;
  line-height: 1.15;
  font-size: 60px;
}

.khan__quote {
  margin: 0 0 36px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
}

.khan__quote-author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
}

.khan__book-container {
  display: flex;
  align-items: flex-start;
  column-gap: 48px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
}
