@import url("../vendor/normalize.css");
@import url("../blocks/rotation.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/two-columns.css");
@import url("../blocks/cards.css");
@import url("../blocks/techniques.css");
@import url("../blocks/video.css");
@import url("../blocks/oakley.css");
@import url("../blocks/feynman.css");
@import url("../blocks/digits.css");
@import url("../blocks/kahn.css");
@import url("../blocks/kaufman.css");
@import url("../blocks/table.css");
@import url("../blocks/resources.css");
@import url("../blocks/footer.css");

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle_theme_dark {
  color: white;
  margin-top: 20px;
}
